@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


.todoCont {
    display: flex;
    justify-content: center;
}

.todoTitle {
    margin-top: 10vh;
    text-align: center;
    font-size: xxx-large;
    font-family: 'Open Sans Condensed';
}

.todo {
    width: 35%;
    background-color: rgb(238, 238, 229);
    display: flex;
    box-shadow: 0px 0px 5px black;
    padding-left: 10px;
    flex-direction: column;
    justify-content: center;
}

.todoInput {
    width: 80%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    margin-bottom: 15px;
    }

.todoInput:focus {
    outline: none;
}

.todoItem {
    border-top: 3px solid lightgray;
    margin: 4px 0px;
    padding-bottom: 1px;
    width: 100%;
}

.todoItem:hover {
    cursor: pointer;
}

.completedItem {
    color: gray;
    text-decoration: line-through;
}

.todoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoClose {
    height: 75%;
    margin-top: 6px;
}